// Root node - add aliases and new device nodes
/ {
    aliases {
        power-led = &led0;
        pir-motion-sensor = &pir0;
        temp-humidity-sensor = &dht11;
        ldr-adc-device = &adc0;
        ldr-adc-channel = &adc0_ch6;
        // ldr-light-sensor = &ldr0;
    };

    // Power led on pin 13
    leds {
        compatible = "gpio-leds";
        led0: pin13 {
            gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
        };
    };

    // PIR motion sensor on pin 4
    gpio-inputs {
        compatible = "gpio-keys";
        debounce-interval-ms = <1000>;

        pir0: pin4 {
            gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
            status = "okay";
        };
    };

    // Temperature/humidity sensor on pin 2
    // These sensors use single-wire communication with a pull-up resistor.
    dht11: dht11 {
        compatible = "aosong,dht";
        dio-gpios = <&gpio0 2 (GPIO_OPEN_DRAIN | GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        status = "okay";
    };

//     // LDR light sensor on ADC1 channel 6 (GPIO34)
//     ldr0: ldr0 {
//         compatible = "adc-ldr";          // TODO: Create custom ADC LDR driver
//         io-channels = <&adc 1 6>;
//         status = "okay";
//     };
};

// Fragments - modify existing nodes outside the root node
// Enable ADC1 (adc0) (needed for LDR)
&adc0 {
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;

    adc0_ch6: channel@6 {
        reg = <6>;                                          // ADC1 channel 6 (GPIO34)
        zephyr,gain = "ADC_GAIN_1_4";                       // 11dB attenuation (full-scale ~3.54V)
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,vref-mv = <3894>;                            // Reference voltage in mV: 1.1V * 3.54 (attenuation factor)
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;                           // 12-bit ADC
    };
};